body{
    background: url(./fotos/tables-right-dec.png) no-repeat;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 2rem 2rem;
    border-radius: 5rem;
    background-color: palevioletred;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    text-decoration: none;
    text-align: center;
}

.btn:hover{
    transform: scale(1.1);
    color: var(--gris);
    background-color: var(--celestepastel);
}


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/imagenes/001.png) no-repeat;
    background-size: cover;
    background-position: cover;
}
.inicio .image img{
    width: 40vh;
    animation: float 3s linear infinite;
}



@keyframes float {
    0%, 100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-3.5rem);
    }
  }

.inicio .content h2{
    text-align: center;
    font-size: 2rem;
    color: cornflowerblue;
    text-transform: uppercase;
    position: relative;
    animation: radiate 1s ease-in-out infinite alternate;
}

@keyframes radiate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@media (max-width: 450px){
    .video-thumbnail {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
    .video-thumbnail iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
